.itemPreview__container {
    width: 100%;
    align-items: stretch;
}

.itemPreview__image-container {
    border-radius: 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 30%);
}

.itemPreview__image {
    height: 100%;
    width: 100%;
}

.itemPreview__image-details-container {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 90%;
    padding: 5%;
    color: white;
    line-height: .75rem;
    z-index: 150;
}

.itemPreview__image-container:after {
    background-image: linear-gradient(180deg,transparent 0,rgba(0,0,0,.8));
    border-radius: 0 0 10px 10px;
    bottom: 0;
    content: "";
    display: block;
    height: 40%;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.itemPreview__details-container {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemPreview__details-user {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}

.itemPreview__details-user_image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.itemPreview__details-location {
    justify-content: flex-end;
}